.env
/.idea
/vendor
/.vscode
/storage
/storage/logs/laravel.log
/public/hot
.env.backup
/node_modules
npm-debug.log
/storage/*.key
yarn-error.log
Homestead.json
Homestead.yaml
/public/storage
.phpunit.result.cache
/database/address_table
/public/backend/img/plan
/public/backend/img/topic
/public/backend/img/course
docker-compose.override.yml
/public/backend/img/sliders
/public/backend/img/projects
/public/backend/img/properies
/public/backend/img/testimonial
/public/backend/img/websitesetting
/public/frontend/images/user/avatars
/public/frontend/images/user/documents
